.diagnosis {
  &__header {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 14px;

    &-sub {
      font-size: 2.4rem;
      font-weight: 400;
      margin: 24px 0;
    }
    &-sub2 {
      font-size: 2.4rem;
      font-weight: 400;
      margin: 24px 0;
    }
  }
}

.div-footer {
  margin-top: 100px;
}
